# ignore all compiled files
*.pyc

# ignore all caffemodels
*.caffemodel

# ignore all results and log files
*.npy
*.log

# ignore init files
*/__init__.py
__init__.py

# ignore pdf files
*.pdf
*.png

# ignore rsync files
rsync_*.sh
